# Environment variables
.env

# Dependencies
node_modules/

# Storage (ignore everything first)
storage/files/*
storage/temp/*

# Then allow contents
!storage/files/**
!storage/temp/**

# Database
!data/filevault.db

# Logs
*.log
npm-debug.log*